<body>

    <!-- desktop site__header / end -->
    <!-- site__body -->
    <div class="site__body">
        <div class="block ">
            <div class="container m-auto">
                <div class="not-found mt-5 pt-5">
                    <h1 class="not-found__404 text-center mt-5 pt-5" style="font-family: cursive;">Oops! Error 404</h1>
                    <div class="not-found__content text-center">
                        <h1 class="not-found__title text-center">Page Not Found</h1>
                        
                        <p><a class="btn btn-secondary btn-sm" href="/">Go Back</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- site__body / end -->
            
    
</body>
