

<%- include("includes/header2") %> 
  
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="py-12 bg-white">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center text-center mb-5">
          <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-6xl">
            About Us
          </p>
          
        </div>

        <div class="row">
          <div class="col-xl-4 col-12">
            <figure class="bg-gray-100 rounded-xl p-8">
              <img class="mx-auto" src="/assets/images/PASTOR.jpg" alt="" style="width: 20em; height: 20em; object-fit: contain;">
              <div class="pt-6 space-y-4">
                <blockquote>
                  <p class="text-lg font-semibold">
                    “Thank God for darkness that proves the light.”
                  </p>
                </blockquote>
                <figcaption class="text-center">
                  <div>
                    Hassan Mayowa Kehinde
                  </div>
                  <div>
                    President 2021/2022
                  </div>
                </figcaption>
              </div>
            </figure>
          </div>
          <div class="col-xl-8 col-12">
            <p class="text-justify p-3">
              CACSA FPI was established in 1988 through the grace of God upon some students then; they got stirred up by the Spirit of God. <br/>
              CACSA FPI was registered under the office of the directorate of Students Affairs in Federal Polytechnic, Ilaro. The Site of the fellowship was first purchased by 1994/95 Set, headed bt Bro Wale Adeitan and the succeeded set layed the foundation of the church santuary.<br/><br/>

              The founding founders of the fellowship were Elder Jolade, Late Bro Fatokun, Bro Bayo and many others.<br/>
              Patrons and matrons are Engr & Mrs Osore, Pastor & Mrs Obadina, Elder Jolade and Mr Ogunsina.<br/><br/>

              CACSA FPI is unique, different, distinguished and stands out in all his activities since then and still maintains the reputation through the grace of God.<br/>
              CACSA FPI has about nine(9) units where any student can join in order to work in the vineyard of God.<br/>
            </p>
          </div>
        </div>

        <div>
          <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
            We can't do without them
          </p>
          <div class="row gy-5">
            <div class="col-xl-4 col-lg-4 col-12">
              <div class="card">
                <img src="https://hubrootech.com.ng/cacsa/images/engr%20osore.jpg" class="card-img-top" style="height: 20em; object-fit: cover;" alt="...">
                <div class="card-body">
                  <h5 class="card-title font-semibold">Engr. O.A Osore</h5>
                  <p class="card-text">Patron</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-12">
              <div class="card">
                <img src="https://hubrootech.com.ng/cacsa/images/Adeniyi%20Moses.jpg" class="card-img-top" style="height: 20em; object-fit: cover;" alt="...">
                <div class="card-body">
                  <h5 class="card-title font-semibold">Pst. Adeniyi Moses</h5>
                  <p class="card-text">Alumni</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-12">
              <div class="card">
                <div class="text-center bg-dark">
                <img src="https://hubrootech.com.ng/cacsa/images/drjesusina.jpg" class="card-img-top" style="height: 20em; object-fit: cover;" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title font-semibold">Dr. Tunde Jesusina</h5>
                  <p class="card-text">Patron</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
<%- include("includes/footer") %> 

