

<%- include("includes/header2") %> 
  
<div class="py-12 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    
    <div class="lg:text-center text-center mb-5">
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-6xl">
        Contact Us
      </p>
     
      
    </div>
    
    <div class="py-sm-5">
      <h2 class="heading mb-sm-5 mb-4">Get in <strong> touch with us </strong></h2>
      <div class="row">
        <div class="col-lg-6 col-md-6 contact-address">
          <h4 class="mb-sm-4 mb-3 w3f_title">Contact Address</h4>
          <ul class="list-w3">
            <li class="d-flex"><span class="fa mt-1 mr-1 mdi-map-marker"></span>CACSA CHAPEL,Behind Itolu,School2,Orita,Ilaro,Ogun State.</li>
            <li class="my-3"><span class="mdi mr-1 mdi-phone"></span>+234 &nbsp;906 &nbsp; 6288 &nbsp; 991</li>
            <li class="my-3"><span class="mdi mr-1 mdi-phone"></span>+234 &nbsp;816 &nbsp; 7261 &nbsp; 751</li>
            <li class=""><span class="mdi mr-1 fa-envelope"></span><a href="mailto://cacsafpikingdomfamily@gmail.com">cacsafpikingdomfamily@gmail.com</a></li>
          </ul>
          <!-- <h4 class="mt-md-5 mt-4 mb-3 w3f_title">Follow Us</h4> -->
      <!--		<p>Sed mattis hendrerit dolor sed rhoncus. Praesent arcu quam, sodales ac varius.</p>-->
          <!-- <ul class="d-flex">
            <li><a href="#" class="facebook"><span class="mdi mr-1 mdi-facebook"></span></a></li>
            <li class="my-3"><a href="#" class="twitter"><span class="mdi mr-1 mdi-twitter"></span></a></li>
            <li class="my-3"><a href="#" class="google"><span class="mdi mr-1 mdi-gmail"></span></a></li>
            <li class="my-3"><a href="#" class="linkedin"><span class="mdi mr-1 mdi-facebook"></span></a></li>
          </ul> -->
        </div>
        <div class="col-lg-6 col-md-6 contact-form mt-md-0 mt-4">
          <h4 class="mb-sm-4 mb-3 w3f_title">Contact Form</h4>
          <form name="contactform" id="contactform" method="post" action="#" onsubmit="return(validate());" novalidate="novalidate">
              <div class="form-group mb-3">
                <label>Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
              </div>
              <div class="form-group mb-3">
                <label>Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
              </div>
              <div class="form-group mb-3">
                <label>How can we help?</label>
                <textarea name="issues" class="form-control" id="iq" placeholder="Enter Your Message Here"></textarea>
              </div>				
              <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12">
              <div class="contact-map">
          <h4 class="mb-4 w3f_title">Contact Map</h4>
              <div class="mapouter"><div class="gmap_canvas">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3961.0651702103237!2d2.9951217!3d6.8827968!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b0f165822dc85%3A0xd78da8620e022da9!2sChrist%20Apostolic%20Church%20Students&#39;%20Association%20(CACSA)%20Federal%20Polytechnic%20Ilaro%20Chapter.!5e0!3m2!1sen!2sng!4v1639408792192!5m2!1sen!2sng" style="width: 100%;" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>
  
<%- include("includes/footer") %> 

