

<%- include("includes/header") %> 
  
       

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="py-12 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <h2 class="text-base text-green-600 font-semibold tracking-wide uppercase">KINGDOM FAMILY OF GOD</h2>
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          Christ Leads, We Follow
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
            A place of deep worship and divine encounter with the Lord your God and also a place of fellowship with the wonderful people of God.
        </p>
      </div>
  
      <div class="mt-10">
        <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-green-500 text-white">
                <i class="mdi mdi-church" style="font-size: 1.5em;"></i>
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Intense worship</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              In the presence of His majesty, we commune as one and offer our incense of worship, offer our supplication and thanksgiving. You'd love to be a part of us.
            </dd>
          </div>
  
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-green-500 text-white">
                <i class="mdi mdi-book" style="font-size: 1.5em;"></i>
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-900">The undiluted word of God</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              We share the undiluted and engrafted word of God useful for the edification of our faith, reprovement, correction in righteousness and spiritual growth.
            </dd>
          </div>
  
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-green-500 text-white">
                <i class="mdi mdi-fire" style="font-size: 1.5em;"></i>
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Prevailing prayer</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              We labour in prayer as we gather in the awesome presence of our almighty father in oneness as the spirit of God bears witness within us that we are of Him.
            </dd>
          </div>
  
          <div class="relative">
            <dt>
              <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-green-500 text-white">
                <i class="mdi mdi-flag" style="font-size: 1.5em;"></i>
              </div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Evangelism</p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              We raise the banner of our Lord Jesus Christ so high for anyone to be part of the kingdom family of God irrespective of the horrible past. Jesus is Lord!
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>    
  
<%- include("includes/footer") %> 

