

<%- include("includes/header2") %> 
  
<div class="py-12 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    
    <div class="lg:text-center text-center mb-5">
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-6xl">
        Programmes
      </p>
     
      <div class="text-center">
        <h5 class="heading mb-5">We'll Appreciate if you make donations <br/><strong> CHRIST APOSTOLIC CHURCH STUDENT ASSOCIATION (POLARIS BANK - 1140059205)</strong></h5>
      </div>
      
    </div>
    
    <div class="py-lg-5 py-sm-3">
      <h2 class="heading mb-5">Services <strong> For The Tenure </strong></h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="row">
            <div class="col-9 mt-lg-5 grid">
              <h3>Christmas Carol</h3>
              <p class="mt-2"> Celebration of Jesus Christ's birth. </p>
            </div>
            <div class="col-3 mt-lg-5 icon text-center grid1">
              <span class="mdi mdi-church" style="font-size: 3em;"></span>
            </div>
            
            <div class="col-9 mt-sm-5 mt-4 grid">
              <h3>Outreach</h3>
              <p class="mt-2">It is a 4-days outreach and reach-out to villages majorly to evengelise the gospel. </p>
            </div>
            <div class="col-3 mt-sm-5 mt-4 icon text-center grid4" style="font-size: 3em;">
              <span class="mdi mdi-bus"></span>
            </div>
            
            <div class="col-9 mt-sm-5 mt-4 grid">
              <h3>Family Day</h3>
              <p class="mt-2"> Celebration of different families  of different geographical settlement of the members in the fellowship.</p>
            </div>
            <div class="col-3 mt-sm-5 mt-4 icon text-center grid5" style="font-size: 3em;">
              <span class="mdi mdi-home"></span>
            </div>
            
          </div>
        </div>
        <div class="col-lg-4 text-lg-center mt-lg-0 mt-4">
          <img src="images/serv.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-lg-4 text-right">
          <div class="row">
            <div class="col-3 mt-sm-5 mt-4 icon text-center grid6" style="font-size: 3em;">
              <span class="mdi mdi-headphones"></span>
            </div>
            <div class="col-9 mt-sm-5 mt-4 grid">
              <h3>Praise And Drama Night</h3>
              <p class="mt-2"> Its an annual programme for the choir and drama unit which brings alumni and the fellowship togerther</p>
            </div>
            
            <div class="col-3 mt-sm-5 mt-4 icon text-center grid7">
              <img src="https://hubrootech.com.ng/cacsa/images/hands-gray.png" class="img-fluid">
            </div>
            <div class="col-9 mt-sm-5 mt-4 grid">
              <h3>Re-union</h3>
              <p class="mt-2"> It is an annual church anniversary and re-union service that brings the alumni body,
                patrons and matrons and the fellowship t6ogether.</p>
            </div>
            
            <div class="col-3 mt-sm-5 mt-4 icon text-center grid3">
            <img src="https://hubrootech.com.ng/cacsa/images/teamwork.png" alt="" class="img-fluid">
            </div>
            <div class="col-9 mt-sm-5 mt-4 grid">
              <h3>FYB Get-Together And Sent-Forth</h3>
              <p class="mt-2">This is a get  together service for the final-year brethrens.  Also an award and Sent-Forth service for all the finalists.  </p>
            </div>
            
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
  
<%- include("includes/footer") %> 

