

<%- include("includes/header2") %> 
  
  <div class="py-12 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      
      <div class="lg:text-center text-center mb-5">
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-6xl">
          Units
        </p>
        <p class="mt-3 text-center">
          "There are different kinds of working, but in all of them and in everyone it is the same God at work."<br/>
          - 1 Corinthians 12:6
        </p>
        
      </div>
      
      <div class="row gy-5">
        <div class="col-xl-4 col-6">
          <div class="card">
            <img src="https://images.squarespace-cdn.com/content/v1/5b398fb2f793925040070b55/1569358740365-XHKY3VFY8H86Q130T9MP/performers+on+stage?format=1000w" class="card-img-top" style="height: 20em; object-fit: cover;" alt="...">
            <div class="card-body d-flex justify-content-between">
              <p class="card-title font-semibold">Drama Unit</p>
              <a href="/unit/drama" class="text-gray-900 hover:text-gray-500">View <i class="mdi mdi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-6">
          <div class="card">
            <img src="https://theresourcefulchurchmusician.com/wp-content/uploads/2018/11/An-EngagedChoir-notext-1080x675.png" class="card-img-top" style="height: 20em; object-fit: cover;" alt="...">
            <div class="card-body d-flex justify-content-between">
              <p class="card-title font-semibold">Choir Unit</p>
              <a href="/unit/choir" class="text-gray-900 hover:text-gray-500">View <i class="mdi mdi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-6">
          <div class="card">
            <img src="https://i.swncdn.com/media/800w/via/9145-woman-praying-gettyimages-made-suta-eyeem.jpg" class="card-img-top" style="height: 20em; object-fit: cover;" alt="...">
            <div class="card-body d-flex justify-content-between">
              <p class="card-title font-semibold">Prayer Unit</p>
              <a href="/unit/prayer" class="text-gray-900 hover:text-gray-500">View <i class="mdi mdi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-6">
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTyPjkF0m6CKGtMg-Mxs9mR1V-NcMoF0xwtg&usqp=CAU" class="card-img-top" style="height: 20em; object-fit: cover;" alt="...">
            <div class="card-body d-flex justify-content-between">
              <p class="card-title font-semibold">Organizing and Welfare Unit</p>
              <a href="/unit/welfare" class="text-gray-900 hover:text-gray-500">View <i class="mdi mdi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-6">
          <div class="card">
            <img src="https://independent.ng/wp-content/uploads/Public-Relations-727x430.jpg" class="card-img-top" style="height: 20em; object-fit: cover;" alt="...">
            <div class="card-body d-flex justify-content-between">
              <p class="card-title font-semibold">PRO Unit</p>
              <a href="/unit/pro" class="text-gray-900 hover:text-gray-500">View <i class="mdi mdi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-6">
          <div class="card">
            <img src="https://thechurchofchristokota.com/wp-content/uploads/2021/07/Evangelism-Jesus-Style-Title-Pic.jpg" class="card-img-top" style="height: 20em; object-fit: cover;" alt="...">
            <div class="card-body d-flex justify-content-between">
              <p class="card-title font-semibold">Evangelism Unit</p>
              <a href="unit/evangelism" class="text-gray-900 hover:text-gray-500">View <i class="mdi mdi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-6">
          <div class="card">
            <img src="/assets/images/bible.jpg" class="card-img-top" style="height: 20em; object-fit: cover;" alt="...">
            <div class="card-body d-flex justify-content-between">
              <p class="card-title font-semibold">Teaching Unit</p>
              <a href="/unit/teaching" class="text-gray-900 hover:text-gray-500">View <i class="mdi mdi-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
    
<%- include("includes/footer") %> 

